#don't include eclipse output in git repo
bin/

#don't include server data storage
/server/data/

#don't include fonts
/serverlauncher/resources/font/

#don't include library binaries or documentation
/client/libraries/

#don't include outdated code
/oldcode/

#don't include packaged binaries
/build/

#don't include eclipse project settings
.classpath
.project
.settings

#native launcher/visual studio files
/clientlauncher/Windows/natives
/clientlauncher/**/lib
/clientlauncher/**/include
/clientlauncher/**/*.vcxproj.user
/clientlauncher/**/*.aps
/clientlauncher/**/x64
/clientlauncher/**/.vs