#don't include output directories
bin/
jvm/

#don't include server data storage
/server/world.dat

#don't include fonts
/serverlauncher/resources/font/

#don't include library binaries or documentation
/client/libraries/

#don't include outdated code
/oldcode/

#don't include eclipse project settings
.classpath
.project
.settings

#native launcher/visual studio files
natives/
build/
/clientlauncher/Windows/natives
/clientlauncher/**/lib
/clientlauncher/**/include
/clientlauncher/**/*.vcxproj.user
/clientlauncher/**/*.aps
/clientlauncher/**/x64
/clientlauncher/**/.vs