.gitignore
/client/resources/test_gltf.glb
/clientlauncher/macOS/.vs

#don't include output directories
bin/

#don't include server data storage
world.dat

#don't include fonts
/serverlauncher/resources/font/

#don't include library binaries or documentation
/client/libraries/
/serverlauncher/libraries/

#don't include eclipse project settings
.classpath
.project
.settings
.idea/

#Server launcher
/serverlauncher/build

#Client launcher/VS files
/clientlauncher/**/jvm
/clientlauncher/**/include
*.vcxproj.user
*.aps
/clientlauncher/**/x64
/clientlauncher/.vs